In [1]:
import pandas as pd
import vaex

In [2]:
#d = pd.read_csv('C:\\Users\\amatiwari\\Documents\\UBER_CAB_PRICE_PREDICTION_PROJECT\\Datasets\\uber_car_dataset.csv')

In [3]:
#dd = vaex.from_pandas(d)

In [4]:
#dd.export_hdf5('C:\\Users\\amatiwari\\Documents\\UBER_CAB_PRICE_PREDICTION_PROJECT\\Datasets\\uber_car_dataset.hdf5')

In [5]:
data = vaex.open('C:\\Users\\amatiwari\\Documents\\UBER_CAB_PRICE_PREDICTION_PROJECT\\Datasets\\uber_car_dataset.hdf5')

In [6]:
data.tail(10)

  #  key                              fare_amount  pickup_datetime            pickup_longitude    pickup_latitude    dropoff_longitude    dropoff_latitude    passenger_count
  0  2015-05-24 22:05:56.0000002             12    2015-05-24 22:05:56 UTC            -73.9871            40.7419             -73.9522             40.773                   1
  1  2015-06-08 10:49:14.0000001             17.5  2015-06-08 10:49:14 UTC            -73.9815            40.7439             -74.0139             40.7126                  1
  2  2010-01-30 16:24:00.000000199            8.9  2010-01-30 16:24:00 UTC            -74.0035            40.714              -73.9911             40.6845                  1
  3  2012-09-29 19:51:27.0000006              9.5  2012-09-29 19:51:27 UTC            -73.9878            40.7212             -73.981              40.7444                  1
  4  2014-01-31 14:42:00.000000181           12    2014-01-31 14:42:00 UTC            -73.9831            40.7608             -73.973              40.7542                  1
  5  2012-10-28 10:49:00.00000053             3    2012-10-28 10:49:00 UTC            -73.987             40.7394             -73.9865             40.7403                  1
  6  2014-03-14 01:09:00.0000008              7.5  2014-03-14 01:09:00 UTC            -73.9847            40.7368             -74.0067             40.7396                  1
  7  2009-06-29 00:42:00.00000078            30.9  2009-06-29 00:42:00 UTC            -73.986             40.7565             -73.859              40.6926                  2
  8  2015-05-20 14:56:25.0000004             14.5  2015-05-20 14:56:25 UTC            -73.9971            40.7255             -73.9832             40.6954                  1
  9  2010-05-15 04:08:00.00000076            14.1  2010-05-15 04:08:00 UTC            -73.9844            40.7201             -73.9855             40.7688                  1

In [ ]:
data.info()

In [ ]:
data.describe()

In [7]:
#CHECKING NULL VALUES FOR ALL THE COLUMNS OF YOUR DATASET
def checking_null():
    
    col = data.column_names
    D = dict()
    
    for i in col:
        D[i] = data[i].isnan().sum().item()
        
    return D

In [ ]:
Dictionary = checking_null()
Dictionary

In [8]:
# REPLACING NAN VALUES WITH ZEROS.

# ONLY TWO COLUMNS HAVE NULL VALUES BUT WE ARE DOINGT IT FOR ALL THE COLUMNS
# AS BELOW IS THE BEST PRACTICE TO HANDLE NULL VALUES. COORD SHOULD CONTAINS ALL YOUR NULL VALUES THEN REPLACE THEM WITH 0.

import numpy as np 

coord = ['pickup_longitude','pickup_latitude', 
         'dropoff_longitude', 'dropoff_latitude']

for i in coord :
    data[i] = data[i].fillna(0)
    data = data[~(data[i].isna())]   # Getting all the not null values of dataset.

In [9]:
data

#           key                            fare_amount    pickup_datetime          pickup_longitude    pickup_latitude    dropoff_longitude    dropoff_latitude    passenger_count
0           2009-06-15 17:26:21.0000001    4.5            2009-06-15 17:26:21 UTC  -73.844311          40.721319          -73.84161            40.712278           1
1           2010-01-05 16:52:16.0000002    16.9           2010-01-05 16:52:16 UTC  -74.016048          40.711303          -73.979268           40.782004           1
2           2011-08-18 00:35:00.00000049   5.7            2011-08-18 00:35:00 UTC  -73.982738          40.76127           -73.991242           40.750562           2
3           2012-04-21 04:30:42.0000001    7.7            2012-04-21 04:30:42 UTC  -73.98713           40.733143          -73.991567           40.758092           1
4           2010-03-09 07:51:00.000000135  5.3            2010-03-09 07:51:00 UTC  -73.968095          40.768008          -73.956655           40.783762           1
...         ...                            ...            ...                      ...                 ...                ...                  ...                 ...
55,623,851  2012-10-28 10:49:00.00000053   3.0            2012-10-28 10:49:00 UTC  -73.987042          40.739367          -73.986525           40.740297           1
55,623,852  2014-03-14 01:09:00.0000008    7.5            2014-03-14 01:09:00 UTC  -73.98472199999999  40.736837          -74.006672           40.73962            1
55,623,853  2009-06-29 00:42:00.00000078   30.9           2009-06-29 00:42:00 UTC  -73.986017          40.756487          -73.85895699999999   40.692588           2
55,623,854  2015-05-20 14:56:25.0000004    14.5           2015-05-20 14:56:25 UTC  -73.99712371826173  40.7254524230957   -73.98321533203125   40.69541549682617   1
55,623,855  2010-05-15 04:08:00.00000076   14.1           2010-05-15 04:08:00 UTC  -73.98439499999999  40.720077          -73.985508           40.768793           1

In [ ]:
Dictionary = checking_null()
Dictionary

In [10]:
# converting and breaking of datetime column into year, month, day , Hour , Minutes , Seconds 

data['Year'] = data['pickup_datetime'].apply(lambda x: int(x.split(' ')[0].split('-')[0]))
data['Month'] = data['pickup_datetime'].apply(lambda x: int(x.split(' ')[0].split('-')[1]))
data['Date'] = data['pickup_datetime'].apply(lambda x: int(x.split(' ')[0].split('-')[2]))


data['Hours'] = data['pickup_datetime'].apply(lambda x: int(x.split(' ')[1].split(':')[0]))
data['Minutes'] = data['pickup_datetime'].apply(lambda x: int(x.split(' ')[1].split(':')[1]))
data['Sec'] = data['pickup_datetime'].apply(lambda x: int(x.split(' ')[1].split(':')[2]))

In [ ]:
data

In [11]:
# we are removing all the values of Pickup & dropoff latitude & Longitude which does not fall under the New york boundaries
# latitude or longitude. #(Removing actual Outlier) through domain knowledge.

# New York Boundaries = Latitude ( 40.4944444444444 - 40.9999999999 )
# New York Boundaries = Longitude ( -73.290277777777 - 74.8400222222 )

# Trip Fare amount can't be nagtive or zero and passenfer_count should be in between 1 to 7 as minimum one people should book a cab
# else a bigger prime cab can contain maximum 7 people ata time for pickup & dropoff.

# ---------------------------------------------------------------------------------------------

data = data[((data['pickup_latitude'] > 40.50) & (data['pickup_latitude'] < 40.90)) & 
            ((data['dropoff_latitude'] > 40.50) & (data['dropoff_latitude'] < 40.90)) & 
            ((data['pickup_longitude'] > -74.28)  & (data['pickup_longitude'] < -73.70)) &
            ((data['dropoff_longitude'] > -74.28)  & (data['dropoff_longitude'] < -73.70)) &
            ((data['passenger_count'] >= 1) & (data['passenger_count'] <= 7)) &
            ((data['fare_amount'] >= 2.5)) ]

data.count()

array(54175035, dtype=int64)

In [12]:
def getDistanceLatLonInKM(pick_lat,pick_lon,drop_lat,drop_lon):
    
    R = 6373.0

    pickup_lat  = pick_lat.apply(lambda x : np.radians(x))
    pickup_lon  = pick_lon.apply(lambda x : np.radians(x))
    dropoff_lat = drop_lat.apply(lambda x : np.radians(x))
    dropoff_lon = drop_lon.apply(lambda x : np.radians(x))
    

    dist_lon = dropoff_lon - pickup_lon
    dist_lat = dropoff_lat - pickup_lat


    a = (np.sin(dist_lat/2))**2 + np.cos(pickup_lat) * np.cos(dropoff_lat) * (np.sin(dist_lon/2))**2 
    c = 2 * np.arctan2( np.sqrt(a), np.sqrt(1-a) ) 
    d = R * c 

    data["Distance_In_KM"] = d

In [14]:
getDistanceLatLonInKM(data['pickup_latitude'] , data['pickup_longitude'] , 
                      data['dropoff_latitude'], data['dropoff_longitude'])

In [15]:
data = data[~(data['Distance_In_KM'] < 0.7)]

In [ ]:
data.count()

In [ ]:
summary = data.describe().transpose().reset_index().rename(columns = {"index" : "variable"})
summary

In [ ]:
summary  = np.around(summary,2)
summary

In [ ]:
import plotly.graph_objs as go

In [ ]:

var_lst = [summary["variable"],summary["count"],summary['mean'],summary['std'],
           summary["min"],summary["max"]]

table = go.Table(header = dict(values = summary.columns.tolist(),
                               line = dict(color = ['#506784']),
                               fill = dict(color = ['#119DFF']),
                              ),
                 cells  = dict(values = var_lst,
                               line = dict(color = ['#506784']),
                               fill = dict(color = ["lightgrey",'#F5F8FF']),
                              ),
                 columnwidth = [130,80,80,80,80,80,80,80,80])

table

In [ ]:
import plotly.offline as py


summary = data.describe().transpose().reset_index().rename(columns = {"index" : 
                                                                          "variable"})
summary  = np.around(summary,2)

var_lst = [summary["variable"],summary["count"],summary['mean'],summary['std'],
           summary["min"],summary["max"]]

table = go.Table(header = dict(values = summary.columns.tolist(),
                               line = dict(color = ['#506784']),
                               fill = dict(color = ['#119DFF']),
                              ),
                 cells  = dict(values = var_lst,
                               line = dict(color = ['#506784']),
                               fill = dict(color = ["lightgrey",'#F5F8FF']),
                              ),
                 columnwidth = [130,80,80,80,80,80,80,80,80])
                
layout = go.Layout(dict(title = "Variable Summary"))
figure = go.Figure(data=[table],layout=layout)
py.iplot(figure)

In [ ]:

layout = go.Layout(dict(title = "Variable Summary"))
layout

In [ ]:
figure = go.Figure(data=[table],layout=layout)
figure

In [ ]:
import plotly.offline as py

In [ ]:
trace = go.Pie(values = [data.shape[0],5000000 - data.shape[0]],
               labels = ["Available data" , "Data loss due to outliers and missing values"],
               marker = dict(colors =  [ 'royalblue' ,'lime'],line = dict(color = "black",
                                                                          width =  1.5)),
               rotation  = 60,
               hoverinfo = "label+percent",
              )

layout = go.Layout(dict(title = "Data Loss due to outliers and missing values",
                        plot_bgcolor  = "rgb(243,243,243)",
                        paper_bgcolor = "rgb(243,243,243)",
                       )
                  )

fig = go.Figure(data=[trace],layout=layout)
py.iplot(fig)

In [ ]:
import os 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline
import itertools
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import plotly.figure_factory as ff
import warnings
warnings.filterwarnings("ignore")

In [ ]:
# yearly Analysis of dataset.

yearly_analysis  = data.groupby('Year').agg({"key":"count",
                                                 "fare_amount":"sum",
                                                 "passenger_count":"sum",
                                                 "Distance_In_KM" : "sum"})

yearly_analysis

In [ ]:
yearly_analysis.rename('key','Trip_Count')

In [ ]:
yearly_analysis

In [ ]:
# Hourly Analysis of a dataset.

In [ ]:
Hours_analysis  = data.groupby('Hours').agg({"key":"count",
                                             "fare_amount":"sum",
                                             "passenger_count":"sum",
                                             "Distance_In_KM" : "sum"})

Hours_analysis

In [ ]:
# Trips count on basis of hours.

In [ ]:
# No of Trips by hour.

trips_hr = data["Hours"].value_counts().reset_index()
trips_hr.columns = ["Hours","count"]
trips_hr = trips_hr.sort_values(by = "Hours",ascending = True)

In [ ]:
trips_hr

In [ ]:
# Average fare by hour.

In [ ]:
avg_fare_hr = data.groupby("Hours").agg({"fare_amount":"mean"})

In [ ]:
avg_fare_hr

In [ ]:
avg_fare_hr['fare_amount'] = avg_fare_hr['fare_amount'].apply(lambda x : round(x,4))
avg_fare_hr

In [ ]:
data

In [ ]:
# Analysis
# Seasonal Trend in trips, passengers and fare amount.

In [ ]:
#aggregate by year-month(trips)
trip_count = data.groupby(["Year","Month"]).agg({'key':'count'})
trip_count.rename('key','Trip_count')
trip_count

In [ ]:
# aggregate by year-month(passengers)
passenger_count = data.groupby(['Year','Month']).agg({'passenger_count':'sum'})

In [ ]:
passenger_count

In [ ]:
#aggregate by year-month(fare amount)
total_fare = (data.groupby(["Year","Month"]).agg({'fare_amount':'sum'}))

In [ ]:
total_fare

In [ ]:
#aggregate by year-month(total trip distance)
total_trip_dist = (data.groupby(["Year","Month"]).agg({'Distance_In_KM':'sum'}))

In [ ]:
total_trip_dist['Distance_In_KM'] = total_trip_dist['Distance_In_KM'].apply(lambda x: round(x,3))
total_trip_dist

In [ ]:
# Co-relation between differetn columns through making a join between different columns dataframe.

# In Vaex dataframe, Use join to merge dataframes for analytics but join() fucntion was giving some error so
# we converted our Vaex dataframe into Pandas dataframe as these mini dataframe created for analytics dont have large 
# dataset(no of rows) so we can easily use pd.merge() to merge and analyse the dataframe.

In [ ]:
trip_count_pandas = trip_count.to_pandas_df()
type(trip_count_pandas)

In [ ]:
passenger_count_pandas = passenger_count.to_pandas_df()
type(passenger_count_pandas)

In [ ]:
# Merging trip_count data , passenger_count

Merge1 = trip_count_pandas.merge(passenger_count_pandas, left_on= 'Year', right_on= 'Year' , how='left' )
Merge1

In [ ]:
total_fare_pandas = total_fare.to_pandas_df()
type(total_fare)

In [ ]:
total_trip_dist_pandas = total_trip_dist.to_pandas_df()
type(total_trip_dist)

In [ ]:
# Merging Fare_amount and Distance travelled data

Merge2 = total_fare_pandas.merge(total_trip_dist_pandas, left_on= 'Year', right_on= 'Year' , how='left')
Merge2

In [ ]:
# Merging trip_count data , passenger_count , Fare_amount , Distance_travelled.

final_Merge1_Merge2 = Merge1.merge(Merge2, left_on = 'Year', right_on = 'Year', how = 'left')
final_Merge1_Merge2

In [ ]:
# Cleaning aobve Merged Combined data and keeping Relevant Columns.

final_Merge1_Merge2.drop(['Month_x_x','Month_y_x','Month_x_y','Month_y_y'], axis='columns' ,inplace=True)

In [ ]:
# Yearly Analysis of Dataset

final_Merge1_Merge2

In [ ]:
# This is the co-relation fucntion of Vaex Dataframe  but unable to understand its working and unable to fetch the corr()
# Values so better to use the Pandaas Corr() function.

corr = final_Merge1_Merge2.corr()
corr

In [ ]:
final_Merge1_Merge2 = vaex.from_pandas(final_Merge1_Merge2)
type(final_Merge1_Merge2)

In [ ]:
# This is the co-relation fucntion of Vaex Dataframe  but unable to understand its working and unable to fetch the corr()
# Values so better to use the Pandaas Corr() function used above already.

corr_Vaex = final_Merge1_Merge2.correlation
corr_Vaex

In [ ]:
# New york city map

In [ ]:
pip install folium

In [ ]:
#import libraries
import folium
import folium.plugins

#lat and lon center
lat_center = 40.77
lon_center = -73.96

#plot
map_ny = folium.Map(location=[lat_center,lon_center],
                    tiles="openstreetmap",max_zoom=15,zoom_start=11.5)
map_ny

In [ ]:
trips_ln = data[data["Distance_In_KM"] > 30].head(2)

In [ ]:
trips_ln

In [ ]:
a = trips_ln["pickup_latitude"]
aa = trips_ln["pickup_longitude"]

# ------------------------------------------------------------------

b = trips_ln["dropoff_latitude"]
bb = trips_ln["dropoff_longitude"]

In [ ]:
al = [i for i in a.values]
aal = [i for i in aa.values]

bl = [i for i in b.values]
bbl = [i for i in bb.values]

In [ ]:
al , bl , aal , bbl

In [ ]:
lat_center = 40.78
lon_center = -73.62

map_nyc = folium.Map(location=[lat_center,lon_center],
                    tiles="Stamen Terrain",max_zoom=15,zoom_start=10)


    
p1 = [al[1],aal[1]]
    
p2 = [bl[1],bbl[1]]
    
folium.Marker(location = p1,
                  icon=folium.Icon(color='green',
                                   icon = "home"),
                  popup = "Pick up = " + str(p1),
                 ).add_to(map_nyc)
    
folium.Marker(location = p2,
                 icon=folium.Icon(color='blue',
                                  icon = "home"),
                  popup = "Drop off = " + str(p2),
                 ).add_to(map_nyc)
    
folium.PolyLine(locations = [p1,p2] ,
                    color = "red",opacity = .9,
                   ).add_to(map_nyc)

In [19]:
data[data['Distance_In_KM'] < 9]

#           fare_amount    pickup_longitude    pickup_latitude    dropoff_longitude    dropoff_latitude    passenger_count    Year    Month    Date    Hours    Minutes    Sec    Distance_In_KM
0           4.5            -73.844311          40.721319          -73.84161            40.712278           1                  2009    6        15      17       26         21     1.0310875150008654
1           16.9           -74.016048          40.711303          -73.979268           40.782004           1                  2010    1        5       16       52         16     8.452786282541451
2           5.7            -73.982738          40.76127           -73.991242           40.750562           2                  2011    8        18      0        35         0      1.3899614289484374
3           7.7            -73.98713           40.733143          -73.991567           40.758092           1                  2012    4        21      4        30         42     2.8001489937868067
4           5.3            -73.968095          40.768008          -73.956655           40.783762           1                  2010    3        9       7        51         0      1.9997843682154544
...         ...            ...                 ...                ...                  ...                 ...                ...     ...      ...     ...      ...        ...    ...
46,406,769  9.5            -73.987798          40.72121           -73.98096            40.744388           1                  2012    9        29      19       51         27     2.6417222186373044
46,406,770  12.0           -73.98307           40.76077           -73.972972           40.754177           1                  2014    1        31      14       42         0      1.1232303887993595
46,406,771  7.5            -73.98472199999999  40.736837          -74.006672           40.73962            1                  2014    3        14      1        9          0      1.8756387873559501
46,406,772  14.5           -73.99712371826173  40.7254524230957   -73.98321533203125   40.69541549682617   1                  2015    5        20      14       56         25     3.5408266479309387
46,406,773  14.1           -73.98439499999999  40.720077          -73.985508           40.768793           1                  2010    5        15      4        8          0      5.419484244981255

In [ ]:
#=========================================================================================================================

In [ ]:
# Exploratory Data Analysis ( EDA ) is COMPLETED NOW.

In [ ]:
#=========================================================================================================================

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X = data.drop(['key','pickup_datetime','passenger_count','Sec'])
X

#           fare_amount    pickup_longitude    pickup_latitude    dropoff_longitude    dropoff_latitude    Year    Month    Date    Hours    Minutes    Distance_In_KM
0           4.5            -73.844311          40.721319          -73.84161            40.712278           2009    6        15      17       26         1.0310875150008654
1           16.9           -74.016048          40.711303          -73.979268           40.782004           2010    1        5       16       52         8.452786282541451
2           5.7            -73.982738          40.76127           -73.991242           40.750562           2011    8        18      0        35         1.3899614289484374
3           7.7            -73.98713           40.733143          -73.991567           40.758092           2012    4        21      4        30         2.8001489937868067
4           5.3            -73.968095          40.768008          -73.956655           40.783762           2010    3        9       7        51         1.9997843682154544
...         ...            ...                 ...                ...                  ...                 ...     ...      ...     ...      ...        ...
49,932,079  12.0           -73.98307           40.76077           -73.972972           40.754177           2014    1        31      14       42         1.1232303887993595
49,932,080  7.5            -73.98472199999999  40.736837          -74.006672           40.73962            2014    3        14      1        9          1.8756387873559501
49,932,081  30.9           -73.986017          40.756487          -73.85895699999999   40.692588           2009    6        29      0        42         12.854353121391023
49,932,082  14.5           -73.99712371826173  40.7254524230957   -73.98321533203125   40.69541549682617   2015    5        20      14       56         3.5408266479309387
49,932,083  14.1           -73.98439499999999  40.720077          -73.985508           40.768793           2010    5        15      4        8          5.419484244981255

In [18]:
Y = data.drop([ 'key','pickup_datetime' , 'pickup_longitude' , 'pickup_latitude' , 'dropoff_longitude' , 'dropoff_latitude' , 'passenger_count' , 'Year' , 'Month' , 'Date' , 'Hours' , 'Minutes' , 'Sec' , 'Distance_In_KM'])

In [19]:
X_pandas = X.to_pandas_df()
Y_pandas = Y.to_pandas_df()

In [20]:
X_pandas = X_pandas.reset_index()
Y_pandas = Y_pandas.reset_index()

In [21]:
a = X_pandas.copy()
b = Y_pandas.copy()

In [37]:
X_pandas

,index,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,Year,Month,Date,Hours,Minutes,Distance_In_KM
0,0,-73.844311,40.721319,-73.841610,40.712278,2009,6,15,17,26,1.031088
1,1,-74.016048,40.711303,-73.979268,40.782004,2010,1,5,16,52,8.452786
2,2,-73.982738,40.761270,-73.991242,40.750562,2011,8,18,0,35,1.389961
3,3,-73.987130,40.733143,-73.991567,40.758092,2012,4,21,4,30,2.800149
4,4,-73.968095,40.768008,-73.956655,40.783762,2010,3,9,7,51,1.999784
...,...,...,...,...,...,...,...,...,...,...,...
49932079,49932079,-73.983070,40.760770,-73.972972,40.754177,2014,1,31,14,42,1.123230
49932080,49932080,-73.984722,40.736837,-74.006672,40.739620,2014,3,14,1,9,1.875639
49932081,49932081,-73.986017,40.756487,-73.858957,40.692588,2009,6,29,0,42,12.854353
49932082,49932082,-73.997124,40.725452,-73.983215,40.695415,2015,5,20,14,56,3.540827
49932083,49932083,-73.984395,40.720077,-73.985508,40.768793,2010,5,15,4,8,5.419484

In [22]:
X_pandas = X_pandas[X_pandas['index'] < 50000000]
Y_pandas = Y_pandas[Y_pandas['index'] < 50000000]

In [23]:
X_pandas.drop(['index'],axis=1,inplace=True)
Y_pandas.drop(['index'],axis=1,inplace=True)

In [24]:
x_train , x_test , y_train , y_test = train_test_split(X_pandas , Y_pandas , test_size=0.3 , random_state=50)

In [25]:
x_test.shape

(14979626, 11)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
model = LinearRegression()

In [28]:
model.fit(x_train, y_train)

LinearRegression()

In [29]:
prediction = model.predict(x_test)

In [30]:
from sklearn.metrics import mean_squared_error

In [31]:
print("TEST RMSE SCORE IS : %.3f" % mean_squared_error(y_test,prediction) ** 0.5)

TEST RMSE SCORE IS : 0.000

In [32]:
model.score(x_test,y_test)

1.0

In [ ]:
# Dump your model
with open('NewYork_taxi_price_prediction_model.pkl', 'wb') as files:
    pickle.dump(model, files)

In [ ]:
# Load the saved model
with open('tax.pkl','rb') as file:
    mp = pickle.load(file)
mp

In [ ]:
x_test

In [ ]:
model = LinearRegression()
model.fit(x_train, y_train)
prediction = model.predict(x_test)

In [1]:
pip freeze > aman.txt

Note: you may need to restart the kernel to use updated packages.

In [12]:
add1 =

In [13]:
from geopy.geocoders import Nominatim

def Lati_longi(add1):
    geolocator = Nominatim(user_agent="AmanTiwari")
    location = geolocator.geocode(add1)
    return [location.latitude, location.longitude]

In [17]:
Lati_longi('175 S 9th St, Brooklyn, NY 11211, United States')

[40.708371761904765, -73.96185438095239]

In [18]:
Lati_longi('1884 Monroe Ave, The Bronx, NY 10457, United States')

[40.8488108, -73.905773]